<section
  class="component d-flex flex-column justify-content-start align-items-center vh-100"
>
  <div class="m-5 p-3 d-flex align-items-center">
    <span class="h1 mx-2 title">KCC Management System</span>
  </div>
  <div class="container shadow rounded-5" id="container">
    <div class="form-container sign-up-container">
      <form >
        <h1>Create Account</h1>

        <button
          mat-raised-button
          color="accent"
          class="mb-4"
          (click)="onSignUp()"
        >
          Sign Up
        </button>

      </form>
    </div>
    <div
      *ngIf="!authService.isLoggedIn"
      class="form-container sign-in-container"
    >
      <form >
        <h1 class="mb-3">Sign in</h1>
        <div>


        </div>
        <button
          mat-raised-button
          color="primary"
          class="mb-5"
          (click)="onLogIn()"
        >
          Sign In
        </button>

      </form>
    </div>
    <div
      *ngIf="authService.isLoggedIn"
      class="form-container sign-in-container d-flex flex-column justify-content-center p-5 text-center bg-light"
    >
      <p>Already signed in.</p>
      <div>
        <button
          mat-raised-button
          color="accent"
          [routerLink]="['/dashboard']"
          class="me-3"
        >
          Dashboard
        </button>
        <button mat-raised-button (click)="onLogOut()">Log Out</button>
      </div>
    </div>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <div class="overlay-content p-3 rounded-5">
            <h1>Welcome Back!</h1>
            <p>To keep connected with us please log in</p>
            <button mat-raised-button color="primary" class="ghost" id="signIn">
              Sign In
            </button>
          </div>
        </div>
        <div class="overlay-panel overlay-right">
          <div class="overlay-content p-3 rounded-5">
            <h1>Hello, Friend!</h1>
            <p>Enter your personal details and start journey with us</p>
            <button mat-raised-button color="accent" class="ghost" id="signUp">
              Sign Up
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
