<mat-tab-group>
  <!-- About Tab -->
  <mat-tab label="Info">
    <mat-card>
      <mat-card-content>
        <h1>Known Customer Credentials</h1>
        <p>
          The Known Customer Credentials (KCC) is a decentralized identity
          system that allows individuals and companies to issue credentials to
          others about what evidence they have about specific identifiers (also
          known as customers).
        </p>
      </mat-card-content>
    </mat-card>
  </mat-tab>

  <!-- Issue Credential Tab -->
  <mat-tab label="Issue Credential">
    <mat-card>
      <mat-card-content>
        <button
          mat-button
          [disabled]="permissionRequested"
          (click)="requestPermission()"
        >
          Request Permission
        </button>
      </mat-card-content>
      <mat-card *ngIf="permissionReceived" class="success">
        <mat-card-content
          >Successfully received permission to deliver
          credential.</mat-card-content
        >
      </mat-card>
    </mat-card>

    <mat-card>
      <mat-card-content>
        <h1>Issue</h1>
        <mat-form-field>
          <mat-label>Country of Residence</mat-label>
          <input matInput [(ngModel)]="countryOfResidence" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Customer Tier</mat-label>
          <input matInput [(ngModel)]="tier" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Jurisdiction</mat-label>
          <input matInput [(ngModel)]="jurisdiction" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Documents Verification</mat-label>
          <input
            matInput
            placeholder="Space-separated list"
            [(ngModel)]="documentVerification"
          />
        </mat-form-field>
        <button mat-button (click)="signCredential()" [disabled]="loading">
          Sign and Save Credential
        </button>
      </mat-card-content>
      <mat-card *ngIf="credential">
        <mat-card-content>
          <p><strong>Credential:</strong><br />{{ credential }}</p>
          <button mat-icon-button (click)="copyCredential()">
            <mat-icon>content_copy</mat-icon>
          </button>
        </mat-card-content>
      </mat-card>
    </mat-card>
  </mat-tab>

  <!-- Validate Credential Tab -->
  <!-- <mat-tab label="Validate">
    <mat-card>
      <mat-card-content>
        <h2>Check Verification Status</h2>
        <mat-form-field>
          <mat-label>DID</mat-label>
          <input
            matInput
            [(ngModel)]="did"
            (keydown.enter)="lookupCredentials()"
          />
        </mat-form-field>
        <button mat-button (click)="lookupCredentials()">
          Lookup Credentials
        </button>
        <div *ngFor="let credential of credentials">
          <mat-card>
            <mat-card-content>
              <p>Issuer: {{ credential.vc.issuer }}</p>
              <p>
                Tier: {{ credential.vc.vcDataModel.credentialSubject.tier }}
              </p>
              <p>
                Country of Residence:
                {{
                  credential.vc.vcDataModel.credentialSubject.countryOfResidence
                }}
              </p>
            </mat-card-content>
          </mat-card>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-tab> -->
</mat-tab-group>
